* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-user-drag: none; /* Safari */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* IE10+/Edge */
  user-drag: none; /* Standard */
  cursor: none;
  }
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color:ghostwhite;
  text-align: center;
  background: url(./postapocalypse2.png);
  background-size: cover;
 }
#scoreboard {
  margin-top: -5rem;
  display: inline-flex;
 }
#score {
  margin-right: 10rem;
 }
#coins {
  margin-left: 10rem;
 }
#canvas {
  padding-top: 1.5rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(./soil.jpg);
  background-size: cover;
  border: 3px solid ghostwhite;
  border-radius: 20px;
  width: 45rem;
  height: 32rem;
 }
#canvas div {
  padding-right: 1.6rem;
  background-image: url(./hole.png);
  background-size: cover;
  width: 9rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }
#canvas div img {
  padding-bottom: 2rem;
  padding-left: 3.5rem;
  width: 10rem;
  height: 10rem;
 }
.cursor {
  width: 10rem;
  height: 10rem;
  position: absolute;
  background-image: url('bat.png');
  background-size: 100% 100%;
  transform: translate(-2rem, -2rem);
  transform: rotate(10deg);
  pointer-events: none;
}
@keyframes hit {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-30deg);
  }
  }
